.companyInformation__container {
  width: 80%;
  margin: 7rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #383838 !important;
  }

  .companyInformation__image {
    width: 100%;
    img {
      width: 500px;
      border-radius: 10px;
    }
  }

  .companyInformation__information {
    width: 100%;

    h1 {
      font-size: calc(1rem + 2vw);
    }

    .companyInformation__description {
      font-size: 15px;
      text-align: justify;
      margin: 1rem auto 1.6rem;
    }

    .companyInformation__socialMedia {
      width: 80%;
    }

    .companyInformation__extraInformation {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
    }

    .companyInformation__gmail {
      font-size: 14px;
      text-align: right;
      margin-top: -1rem;
      color: #5d60ff;
      font-weight: bolder;
    }

    .companyInformation__extraInformationEach {
      display: flex;
      align-items: center;
      text-align: center;
      background: #5d60ff;
      padding: 8px 30px;
      color: #fff;
      border-radius: 2rem;
      margin-right: 10px;
      font-size: 13px;
      i {
        font-size: 2rem;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .companyInformation__container {
    flex-direction: column;
    text-align: center;
    .companyInformation__socialMedia {
      width: 100% !important;
    }
  }
}
