.container__myPost {
  margin: 6rem auto 2rem;
  width: 70%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    font-size: 1.5rem;
    margin: 1rem auto;
  }
  .myPost__subtitle {
    font-size: 17px;
    font-weight: bold;
  }
  .left__postSite {
    width: 100%;
    display: flex;
    flex-direction: column;
    .content {
      margin-bottom: 5rem;

      .myPost__userInformation {
        display: flex;
        align-items: center;

        span {
          color: #5d60ff;
          font-size: 12px;
        }

        h4 {
          font-size: 19px;
        }
      }
      .myPost__questionPost {
        padding: 10px;
      }
      .myPost__imageCompany {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 10px;
        border: solid 2px #5d60ff;
      }
    }
    .button {
      display: block;
      margin: 1rem auto;
      border: none;
      padding: 0.5rem 1rem;
      background: #5d60ff;
      color: #fff;
    }
  }
  .right__comments {
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    h4 {
      font-size: 20px;
      margin-bottom: 2rem;
    }
    .each__comment {
      font-size: 14px;
      padding: 0.5rem;
      box-shadow: 0px 0px 5px 5px rgba(71, 71, 71, 0.11);
      margin-bottom: 2rem;
    }
  }
}
