@import "../stylesGeneral/mixinButtons.scss";

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(41, 41, 41);
  overflow: hidden !important;
  .button__login {
    border-radius: 8px;
    width: 90% !important;
  }
  .button__login2 {
    border-radius: 8px;
    width: 90% !important;
    background: #fff !important;
    color: #606060 !important;
    transition: all 500ms;
    border: solid 1px #606060 !important;
    &:hover {
      background: #606060 !important;
      color: #fff !important;
    }
  }

  .login__container {
    width: 100% !important;
    align-items: center;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .login__form {
      width: 25%;
      padding: 20px;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);
      height: 70%;
      text-align: center;
      border-radius: 15px;
    }

    .container__inputs {
      padding: 25px;

      button {
        margin: 1rem auto !important;
        display: block !important;
        @include button;
        font-size: 14px;
      }
    }

    img {
      width: 50%;
      margin-bottom: 1rem;
      border-radius: 10px;
    }

    h3 {
      font-size: calc(1px + 2vw);
    }

    p {
      font-size: 13px;
      color: rgb(83, 83, 83);
    }
  }
}
.crear__cuenta {
  font-size: 13px;
  color: #5d60ff;
  margin-top: -10rem;
}
.error_loginMessage {
  color: rgb(255, 89, 89) !important;
}

@media screen and (max-width: 970px) {
  .login__container {
    width: 50% !important;
    .login__form {
      width: 50% !important;
    }
  }
}

@media screen and (max-width: 570px) {
  .login__container {
    width: 80% !important;
    h3 {
      font-size: calc(1px + 6vw) !important;
    }
    .login__form {
      width: 75% !important;
    }
  }
}
